a, .btn-link{
    color: #7d0092;
}
a:hover, .btn-link:hover{
    color: #7d0092;
    text-decoration: underline;
}

nav.navbar{
    background: url('../images/bg.jpg');
    border-radius: 0px;
    margin-bottom: 0px;
    border: none;
}
.navbar-brand{
    padding: 7px 8px 9px;
    height: auto;
}
    .navbar-brand img{
        height: 54px;
    }
    .navbar-header button.navbar-toggle{
        margin-top: 18px;
        background-color: #fff;
    }
        .navbar-header button.navbar-toggle .icon-bar{
            background-color: #7d0092;
        }
    .navbar-header button.navbar-toggle:hover, .navbar-header button.navbar-toggle:focus{
        background-color: #7d0092;
    }
        .navbar-header button.navbar-toggle:hover span, .navbar-header button.navbar-toggle:focus span{
            background-color: #fff;
        }
.navbar-collapse{
    padding-top: 20px;
    padding-right: 20px;
}
ul.navbar-nav{
    margin-left: 0px;
}
    .navbar-default ul.navbar-nav>li>a{
        color: #7d0092;
        font-size: 16px;
        line-height: 18px;
        border-radius: 3px;
        padding: 3px 7px;
        background-color: #fff;
        margin: 0px 4px;
    }
        .navbar-default ul.navbar-nav>li>a:hover, .navbar-default ul.navbar-nav li.active a, .navbar-default ul.navbar-nav li.active a:hover, .navbar-default ul.navbar-nav li.active a:focus{
            background-color: #7d0092;
            color: #fff;
        }

.main{
    background-color: #ffffff;
    padding: 40px 0px 30px;
}
.panel-heading{
    font-weight: bold;
}

.catalog-product{
    display: inline-block;
    width: 300px;
    height: 385px;
    border: 1px solid #CCC;
    cursor: pointer;
    margin: 7px;
}
    .catalog-product:hover{
        border: 1px solid #7d0092;
    }
.catalog-product-title{
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
}
    .catalog-product-image img{
        width: 298px;
    }
.catalog-product-price{
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 20px;
}
.catalog-product-buy{
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 5px;
}

.product-page-image img{
    width: 398px;
}
.product-page-title{
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
}
.product-page-descr{
    margin-top: 20px;
}
.product-page-price{
    margin-top: 50px;
    Font-weight: bold;
    font-size: 16px;
}
.product-page-buy{
    margin-top: -36px;
    Font-weight: bold;
    font-size: 16px;
}

.cart-block{
    padding-top: 15px;
    text-align: right;
    cursor: pointer;
}
.cart-block-image{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url('../images/cart.png') no-repeat;
}
.cart-block-sum{
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
}

.footer{
    height: 50px;
    background-color: #fff;
    border-top: 1px solid #000;
}
.footer-text{
    padding-top: 9px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
}
















#loaderPage{
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1100;
}
    #loaderPage .cssload-loader{
        width: 200px;
        height: 200px;
        z-index: 1110;
    }
    #loaderPage .loaderBG{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        background-color: #DDDDDD;
        z-index: 1105;
    }
