<div class="row">
    <div class="col-xs-12">
        <div>
            <h1>Користувацька угода</h1>
            <div>
                На виконання вимог Закону України «Про захист персональних даних» даю згоду на обробку моїх персональних даних з метою забезпечення реалізації цивільно-правових відносин, використання в маркетингових та рекламних цілях, здійснення розрахунків за придбані товари/послуги.
                <br/><br/>
                Погоджуюсь з тим, що володілець має право надавати доступ та передавати мої персональні дані третім особам без будь-яких додаткових повідомлень, не змінюючи при цьому мети їх обробки. В тому числі, на перевірку наданої інформації та не заперечую про передачу для можливого необхідного з’ясування даної інформації третім особам, під якими розумію: банки, фінансові установи, оператори мобільного, електронного та поштового зв’язку, інші фізичні та/або юридичні особи. Засвідчую, що повідомлений(а) про володільця персональних даних, склад та зміст зібраних персональних даних, свої права, визначені Законом України «Про захист персональних даних», мету збору персональних даних та осіб, яким передаються мої персональні дані.
            </div>
    </div>
</div>
