<div class="alert" ng-class="message.class" ng-if="message.text" ng-repeat="message in messages">{{message.text}}</div>
<div class="row">
	<div class="col-xs-12">
        <div class="well" ng-if="!cart.products.length">Немає товарів</div>
		<table class="table table-bordered table-hover cart-table" ng-if="cart.products.length">
			<thead class="over-head"><tr>
				<th width="80px">ID</th>
				<th width="auto">Назва</th>
				<th width="80px">Ціна</th>
				<th width="85px">Кількість</th>
			</tr></thead>
			<tbody>
				<tr ng-repeat="product in cart.products" class="cart-table-row">
					<td>{{product.id}}</td>
					<td>{{product.title}}</td>
					<td>{{product.price}}</td>
					<td class="cart-table-last-td text-center">
						<input type="text" maxLength="3" ng-model="cart.products[$index].count" ng-keyup="changeCountOfCartItem($index, $event.keyCode)" class="cart-table-input-count" ng-disabled="orderStatus > 0">
						<a href="#" class="cart-btn-delete" title="Видалити" ng-click="removeFromCart(product.id); $event.preventDefault();" ng-if="orderStatus === 0"></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row" ng-if="cart.products.length">
	<div class="col-xs-12">
		<div class="cart-table-total-sum">Всього: <span>{{cart.sum}} грн.</span></div>
        <button class="btn btn-success" ng-click="createOrder('enterData')" ng-if="orderStatus === 0">Оформити замовлення</button>
	</div>
</div>

<div class="row" ng-if="orderStatus === 1">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Оформлення замовлення</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="fio">Прізвищє Імʼя По-батькові отримувача:</label>
                    <input type="text" class="form-control" id="fio" ng-model="order.fio" />
                </div>
                <div class="form-group">
                    <label for="phone">Телефон отримувача (формат +380XXXXXXXXX):</label>
                    <input type="text" class="form-control" id="phone" ng-model="order.phone" />
                </div>
				<div class="form-group">
					<label>Сервіс доставки:</label><br/>
					<label class="radio-inline"><input type="radio" ng-model="order.delivery" value="novaposhta"/>Нова Пошта</label>
					<label class="radio-inline"><input type="radio" ng-model="order.delivery" value="intime" />ІнТайм</label>
				</div>
				<div class="form-group">
                    <label for="city">Місто відправки:</label>
                    <input type="text" class="form-control" id="city" ng-model="order.city" />
                </div>
				<div class="form-group">
                    <label for="department">Відділення №:</label>
                    <input type="department" class="form-control" id="department" ng-model="order.department" />
                </div>
				<div class="form-group">
                    <label for="comment">Коментар:</label>
                    <input type="comment" class="form-control" id="comment" ng-model="order.comment" />
                </div>
				<div class="form-group">
					<label>Форма оплати:</label><br/>
					<label class="radio-inline"><input type="radio" ng-model="order.payType" value="card"/>На карту ПриватБанку</label>
					<label class="radio-inline"><input type="radio" ng-model="order.payType" value="cash" />Готівкою при отриманні</label>
				</div>
            </div>
        </div>
	</div>
</div>
<div class="row" ng-if="orderStatus === 1 && order.payType">
	<div class="col-xs-12">
        <button class="btn btn-success" ng-click="createOrder('sendData')">{{order.payType === 'cash' ? 'Готово' : 'Оплатити'}}</button>
	</div>
</div>
