<div class="row">
	<div class="col-xs-12 text-center">
		<div class="catalog-product" ng-repeat="product in products" ng-click="getProduct(product.id)">
			<div class="catalog-product-title">{{product.title}}</div>
			<div class="catalog-product-image"><img ng-src="public/images/products/{{product.image}}" alt="{{product.title}}"/></div>
			<div class="catalog-product-price pull-left">{{product.price}} грн.</div>
			<add-to-cart-button-direct></add-to-cart-button-direct>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
