<div class="row">
	<div class="col-xs-12 home-text">
		<p class="home-text-title">Раді вітати вас на нашому сайті!</p>
		<p>Якщо ви вже тут, то ви не байдужі до свого здоровʼя та до здоровʼя своїх близьких. У нас ви можете придбати іноваційне харчування на основі насіння корисних рослин. Це найкращє поєднання науки та природи.</p>
		<p>RAIN - це функціональне клітинне харчування, яке надає комплексну допомогу у харчуванні, очищенні та відновленні організму. Насіння - це найбільш концентроване джерело поживних речовин в природі. В насінні міститься в 30-40 разів більше поживних речовин ніж в рослинах і плодах.</p>
		<p>Потрібна консультація - телефонуйте +38 (068) 617-86-56.</p>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 text-center">
		<div class="catalog-product" ng-repeat="product in products" ng-click="getProduct(product.id)">
			<div class="catalog-product-title">{{product.title}}</div>
			<div class="catalog-product-image"><img ng-src="public/images/products/{{product.image}}" alt="{{product.title}}"/></div>
			<div class="catalog-product-price pull-left">{{product.price}} грн.</div>
			<add-to-cart-button-direct product="{{product}}"></add-to-cart-button-direct>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
